
.logoimg{
  height: 40px;
  width: 60px;
}

.navbar{
  padding-left: 3%;
  padding-right: 3%;
  align-items: center;
  overflow: hidden;
}
.navbar-nav li{
  padding-left: 1rem;
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
}


