.logoimg {
    height: 40px;
    width: 60px;
  }
  
  nav {
    background-color: #48be9d;
    margin-bottom: 5%;
    padding: 5px;
    position: fixed;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 15px;
  }
  nav p {
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    color:white;
  }
  
  a {
    text-decoration: none;
    color: rgb(109, 47, 47);
    font-weight: bold;
  }
  
  .logo {
    width: 50px;
    height: 40px;
    background-color: white;
  }
  
  .navbar-content {
    padding-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-buttons {
    display: flex;
    margin-right: 10%;
    align-items: center;

  }


.container {
    position: absolute;
    left: 50%;
    max-width: 500px;
    transform: translateX(-50%);
    margin-top: 5%;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #48be9d;
}
.container button{
  margin-top: 10%;
  align-items: center!important;
  margin-left: 35%!important;
  cursor: pointer;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid blue;
  text-align: center;
  border-radius: 5px;

}
label{
  padding-top: 4%;
  padding-bottom: 1%;
  color: white;
  font-weight: bold;
}
input{
  width: 100%;
  padding: 2px;
  color: black;
}
select{
  width: 100%;
  padding: 2px;
  color: black;
}
h2 {
    text-align: center;
    color: white;
}
p{
  text-align: center;
  color: white;
}

.btn{
  cursor: pointer;
  background-color: blue;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid blue;
  text-align: center;
  border-radius: 5px;
  margin-left: 30px;
}
.ButtonContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px; 
}
.expensestable {
    padding-top: 5%;
}
.expensbg{
  background-color: #48be9d;
}
.table {
  padding-right: 10%;
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  border: 1px solid #48be9d; 
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: #48be9d;
  color: white;
}

.error{
  text-align: center;
  color: red;
}

